<div class="user-list-container">
  <h2>User Directory</h2>

  <div class="user-list-container">
    <h2>User Directory</h2>

    @if (users.length == 0) {
      <div class="empty-state">No user records available yet.</div>
    } @else {
      <table class="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Nae</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          @for (s of users; track s.Userid) {
            <tr>
              <td>{{ s.Userid }}</td>
              <td>{{ s.FirstName }}</td>
              <td>{{ s.LastName }}</td>
              <td>{{ s.Email }}</td>
              <td>{{ s.Password }}</td>
              <td>
                <button (click)="deleteUser(s.Userid)" class="delete-btn">Delete</button>
              </td>
            </tr>
          }
          <tr class="form-row">
            <td>
              <input
                type="number"
                placeholder="ID"
                [(ngModel)]="newUser.Userid"
                class="form-input"
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="First Name"
                [(ngModel)]="newUser.FirstName"
                class="form-input"
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="Last Name"
                [(ngModel)]="newUser.LastName"
                class="form-input"
              />
            </td>
            <td>
              <input
                type="email"
                placeholder="Email"
                [(ngModel)]="newUser.Email"
                class="form-input"
              />
            </td>
            <td>
              <input
                type="password"
                placeholder="Password"
                [(ngModel)]="newUser.Password"
                class="form-input"
              />
            </td>
            <td><button (click)="createUser()" class="create-btn">Create</button></td>
          </tr>
        </tbody>
      </table>
    }
  </div>
</div>
