CourseAdminSystem/Backend/CourseAdminSystem.Model/bin/
CourseAdminSystem/Backend/CourseAdminSystem.Model/obj/
CourseAdminSystem/Backend/CourseAdminSystem.API/bin/
CourseAdminSystem/Backend/CourseAdminSystem.API/obj/
CourseAdminSystem/Backend/CourseAdminSystem.Tests/bin/
CourseAdminSystem/Backend/CourseAdminSystem.Tests/obj/
CourseAdminSystem/Backend/CourseAdminSystem.API/appsettings.json