<main class="content">
  <h1 class="main-title">Shit Search</h1>
  <div class="input-stack">
    <input
      type="number"
      id="latitudeInput"
      name="Latitude"
      [(ngModel)]="Latitude"
      (ngModelChange)="searchForToilets()"
      placeholder="Input your latitude"
      class="pill-input"
      required
      #LatitudeCtrl="ngModel"
      min="5500"
      max="5600"
    />
    @if (LatitudeCtrl.invalid && LatitudeCtrl.touched) {
      <span class="error">Please enter a valid latitude between 5500 and 5600.</span>
    }

    <input
      type="number"
      id="longitudeInput"
      name="Longitude"
      [(ngModel)]="Longitude"
      (ngModelChange)="searchForToilets()"
      placeholder="Input your longitude"
      class="pill-input"
      required
      #LongitudeCtrl="ngModel"
      min="1200"
      max="1300"
    />
    @if (LongitudeCtrl.invalid && LongitudeCtrl.touched) {
      <span class="error">Please enter a valid longitude between 1200 and 1300.</span>
    }

    <button
      (click)="searchForToilets()"
      [disabled]="LongitudeCtrl.invalid || LatitudeCtrl.invalid"
      id="searchBtn"
      class="submit-pill"
    >
      Search
    </button>
    <div class="toilet-container" id="toiletContainer">
      <div *ngFor="let toilet of Toilets" class="shit-item">
        <button routerLink="/shit-info/{{ toilet.ToiletId }}">
          <p><strong>ID:</strong> {{ toilet.ToiletId }}</p>
          <p><strong>Location:</strong> {{ toilet.Location }}</p>
        </button>
      </div>
    </div>
      <p class="signup-prompt">
        Do you know a toilet that's not listed? 
        <a routerLink="/page-user-input" class="signup-link">Add your own record here!</a>
      </p> 
    </div>
</main>
